# Pr√†ctica 1


## Household Electric Power Consumption

https://www.kaggle.com/datasets/uciml/electric-power-consumption-data-set

# Apartat (C): Analitzant Dades

In [26]:
import numpy as np
import pandas as pd
from pandas.api.types import is_numeric_dtype




db = pd.read_csv('household_power_consumption.txt', sep=';', low_memory=False, parse_dates={'dt' : ['Date', 'Time']}, infer_datetime_format=True,index_col ='dt')
print ('shape:', db.shape)
db.head()

shape: (2075259, 7)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
dt,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
2006-12-16 17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2006-12-16 17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
2006-12-16 17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
2006-12-16 17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [29]:
print(is_numeric_dtype(db['Global_active_power']))


db.info()

False
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2075259 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    object
 1   Global_reactive_power  object
 2   Voltage                object
 3   Global_intensity       object
 4   Sub_metering_1         object
 5   Sub_metering_2         object
 6   Sub_metering_3         float64
dtypes: float64(1), object(6)
memory usage: 126.7+ MB

In [ ]:
#df = db.astype({'Global_active_power':'float','Voltage':'float'})